.s-hero {
  margin-bottom: 11.2rem;
  .container {
    position: relative;
    display: flex;
  }
  .content-left {
    width: 100%;
    max-width: 55.7rem;
    margin-top: 10.5rem;
    margin-right: 3.4rem;
    .txt {
      margin-bottom: 6.8rem;
      h1 {
        max-width: 49.1rem;
        color: $color-gray-900;
        margin-bottom: 3.5rem;
      }
      span {
        display: inline-block;
        max-width: 45.3rem;
        color: $color-gray-700;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 27px;
        opacity: 0.6;
      }
    }
    .benefits {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          display: flex;
          width: 100%;
          &:not(:last-child) {
            margin-right: 4.7rem;
          }
          img {
            width: 3.2rem;
            height: 3.7rem;
          }
          .info {
            margin-left: 1.6rem;
            span {
              display: inline-block;
              color: $color-gray-900;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 120%;
              margin-bottom: 0.8rem;
            }
            p {
              color: $color-gray-700;
              font-size: 1.2rem;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  .content-right {
    width: 100%;
    max-width: 97.6rem;
    height: 64.9rem;
    margin-right: -35.3rem;
    .image {
      position: relative;
      top: 0;
      img {
        position: absolute;
      }
    }
  }
  @media (max-width: 1440px) {
    .content-left {
      margin-top: 8.5rem;
      margin-right: 2.9rem;
      .txt {
        margin-bottom: 5.6rem;
        h1 {
          margin-bottom: 2.4rem;
        }
      }
    }
    .content-right {
      margin-right: -11.2rem;
      height: 49.3rem;
    }
  }
  @media (max-width: 1366px) {
    .content-left {
      .txt {
        margin-bottom: 4rem;
      }
    }
    .content-right {
      height: 47rem;
      margin-right: -7.5rem;
    }
  }
  @media (max-width: 1280px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
    .content-left {
      margin-top: 6.5rem;
      margin-right: 0;
      margin-bottom: 3.6rem;
    }
    .content-right {
      margin-right: 0;
      max-width: 71.2rem;
      .image {
        img {
          position: sticky;
        }
      }
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 9rem;
    .content-right {
      height: 38rem;
    }
  }
  @media (max-width: 576px) {
    margin-bottom: 4rem;
    .content-left {
      margin-top: 4rem;
      .txt {
        h1 {
          font-size: 35px;
        }
        span {
          font-size: 1.6rem;
          line-height: 24px;
        }
      }
      .benefits {
        ul {
          flex-direction: column;
          li {
            &:not(:last-child) {
              margin-right: 0;
              margin-bottom: 24px;
            }
          }
        }
      }
    }
    .content-right {
      height: 23rem;
    }
  }
}

.s-services {
  margin-bottom: 12.4rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .top {
    width: 100%;
    max-width: 98.7rem;
    margin-bottom: 6.4rem;
    h2 {
      text-align: center;
      margin-bottom: 1.6rem;
      font-size: 39px;
    }
    p {
      text-align: center;
      color: $color-gray-700;
      line-height: 120%;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 8rem;
  }
  @media (max-width: 576px) {
    margin-bottom: 4rem;
    .top {
      h2 {
        font-size: 27px;
      }
    }
  }
}

.s-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12rem;
  img {
    max-width: 84.5rem;
  }
  .content-right {
    position: relative;
    width: 100%;
    height: 75.3rem;
    background-color: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
    .off {
      position: absolute;
      top: 48px;
      left: 90px;
      &:before {
        content: "";
        position: absolute;
        left: -20px;
        width: 12px;
        top: 3px;
        height: 12px;
        background-color: #ff0000;
        border-radius: 50%;
      }
      p {
        color: #fff;
        font-size: 1.4rem;
        line-height: 120%;
      }
    }
    &__text {
      p {
        position: absolute;
        top: 160px;
        left: -14px;
        color: $color-gray-600;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1.26px;
        transform: rotate(90deg);
      }
    }
    &__icon {
      position: absolute;
      top: 75px;
      right: 97px;
      width: 70px;
      height: 67px;
    }
    .element {
      .top-left {
        position: absolute;
        top: 24px;
        left: 38px;
        width: 41px;
        height: 41px;
      }
      .top-right {
        position: absolute;
        top: 24px;
        right: 35px;
        width: 41px;
        height: 41px;
      }
      .bottom-left {
        position: absolute;
        bottom: 24px;
        left: 41px;
        width: 41px;
        height: 41px;
      }
      .bottom-right {
        position: absolute;
        bottom: 24px;
        right: 32px;
        width: 41px;
        height: 41px;
      }
    }
    .txt {
      width: 100%;
      max-width: 55rem;
      h2 {
        max-width: 43rem;
        color: #fff;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 8rem;
        strong {
          color: #ffd900;
        }
      }
      ul {
        display: flex;
        li {
          &:not(:first-child) {
            margin-left: 11.2rem;
          }
          img {
            width: 48px;
            height: 48px;
          }
          span {
            display: block;
            color: #fff;
            font-family: Poppins;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 120%;
            margin-top: 1.6rem;
            margin-bottom: 0.8rem;
          }
          p {
            color: $color-gray-500;
          }
        }
      }
    }
  }
  @media (max-width: 1440px) {
    img {
      max-width: 68.2rem;
    }
    .content-right {
      height: 60.8rem;
    }
  }
  @media (max-width: 1280px) {
    img {
      max-width: 62.2rem;
    }
    .content-right {
      height: 55.4rem;
    }
  }
  @media (max-width: 992px) {
    img {
      max-width: 51.2rem;
    }
    .content-right {
      height: 458px;
      &__text {
        p {
          display: none;
        }
      }
      &__icon {
        display: none;
      }
      .txt {
        max-width: 39rem;
        h2 {
          margin-bottom: 4rem;
          font-size: 36px;
        }
        ul {
          align-items: center;
          justify-content: center;
          li {
            &:not(:first-child) {
              margin-left: 4.2rem;
            }
            span {
              font-size: 1.8rem;
            }
            p {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    margin-bottom: 8rem;
    .mobile-disabled {
      display: none;
    }
    .content-right {
      &__text {
        p {
          display: block;
        }
      }
      &__icon {
        display: block;
      }
    }
  }
  @media (max-width: 576px) {
    .content-right {
      height: 690px;
      .txt {
        max-width: 24rem;
        h2 {
          font-size: 2.3rem;
        }
        ul {
          flex-direction: column;
          text-align: center;
          li {
            &:not(:first-child) {
              margin-left: 0rem;
              margin-top: 3rem;
            }
            img {
              width: 100%;
            }
          }
        }
      }
      &__icon {
        top: 45px;
        right: 68px;
        width: 45px;
      }
    }
  }
}

.s-frauds {
  display: none;
  margin-bottom: 80px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    width: 100%;
    max-width: 67.2rem;
  }
  &__text {
    width: 100%;
    max-width: 34.4rem;
    margin-bottom: 7.2rem;
    span {
      display: inline-block;
      color: $color-gray-900;
      font-size: 14px;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 0.8rem;
    }
    h2 {
      color: $color-gray-900;
      margin-bottom: 1.6rem;
    }
    p {
      color: $color-gray-700;
    }
  }
  &__cards {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 7.2rem 10.7rem;
      li {
        width: 100%;
        max-width: 31rem;
        img {
          width: 5.5rem;
          height: 4.7rem;
          margin-bottom: 2.4rem;
        }
        p {
          color: $color-gray-700;
          margin-top: 1.6rem;
        }
      }
    }
  }
  &__right {
    img {
      position: relative;
      top: 8rem;
      right: -10.2rem;
    }
  }
  @media (max-width: 1440px) {
    &__right {
      img {
        right: -7.2rem;
      }
    }
  }
}

.s-app {
  display: none;
  background-color: #ffd900;
  position: relative;
  height: 67.6rem;
  width: 100%;
  /* display: flex; */
  align-items: center;
  margin-bottom: 11.2rem;
  &__left {
    width: 100%;
    max-width: 44.4rem;
    .text {
      max-width: 34.3rem;
      margin-bottom: 5.6rem;
      .decoration-left,
      .decoration-right {
        position: absolute;
        color: $color-gray-900;
        opacity: 0.6;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 120%;
        transform: rotate(90deg);
        margin-top: 0;
      }
      .decoration-left {
        top: 90px;
        left: 250px;
      }
      .decoration-right {
        bottom: 80px;
        left: 955px;
      }
      span {
        color: $color-gray-900;
        font-size: 14px;
        font-weight: 700;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
      }
      p {
        color: $color-gray-700;
        margin-top: 1.6rem;
      }
    }
    .app-store {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__right {
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 84.5rem;
    }
  }
}

.s-blog {
  display: none;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7.2rem;
    .left-text {
      width: 100%;
      max-width: 36rem;
      p {
        color: $color-gray-700;
        margin-top: 1.6rem;
      }
    }
    .right-text {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: $color-gray-900;
          font-size: 1.8rem;
          font-weight: 600;
        }
        img {
          width: 6px;
          height: 10px;
          margin-left: 1.6rem;
        }
      }
    }
  }
  &__content {
    margin-bottom: 11.2rem;
    .card-blog {
      &__item {
        .txt {
          .btn-primary {
            padding: 1.2rem 2.4rem;
            border-radius: 2px;
          }
        }
      }
    }
  }
}
