.s-hero {
  margin-bottom: 11.2rem;
  .container {
    position: relative;
    display: flex;
  }
  .content-left {
    width: 100%;
    max-width: 56.3rem;
    margin-top: 8.5rem;
    margin-right: 2.9rem;
    .txt {
      margin-bottom: 5.6rem;
      h1 {
        max-width: 49.1rem;
        color: $color-gray-900;
        margin-bottom: 2.4rem;
      }
      span {
        display: inline-block;
        max-width: 41.6rem;
        color: $color-gray-700;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 27px;
        opacity: 0.6;
      }
    }
    .benefits {
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          display: flex;
          width: 100%;
          &:not(:last-child) {
            margin-right: 1.6rem;
          }
          img {
            width: 3.2rem;
            height: 3.7rem;
          }
          .info {
            margin-left: 1.6rem;
            span {
              display: inline-block;
              color: $color-gray-900;
              font-size: 1.4rem;
              font-weight: 600;
              line-height: 120%;
              margin-bottom: 0.8rem;
            }
            p {
              color: $color-gray-700;
              font-size: 1.4rem;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
  .content-right {
    width: 100%;
    max-width: 73.6rem;
    margin-right: -11.2rem;
    .image {
      position: relative;
      width: 100%;
      height: 56.5rem;
      top: 0;
      img {
        position: absolute;
      }
    }
  }
}

.s-services {
  margin-bottom: 11.5rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 36px;
  }
  .top {
    width: 100%;
    max-width: 65.6rem;
    margin-bottom: 6.4rem;
    h2 {
      text-align: center;
      margin-bottom: 1.6rem;
    }
    p {
      text-align: center;
      color: $color-gray-700;
      line-height: 120%;
    }
  }
}

.s-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.7rem;
  img {
    max-width: 60rem;
  }
  .content-right {
    position: relative;
    width: 100%;
    height: 60.3rem;
    background-color: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
    .off {
      position: absolute;
      top: 48px;
      left: 90px;
      &:before {
        content: "";
        position: absolute;
        left: -20px;
        width: 12px;
        top: 3px;
        height: 12px;
        background-color: #ff0000;
        border-radius: 50%;
      }
      p {
        color: #fff;
        font-size: 1.4rem;
        line-height: 120%;
      }
    }
    &__text {
      p {
        position: absolute;
        top: 160px;
        left: -14px;
        color: $color-gray-600;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1.26px;
        transform: rotate(90deg);
      }
    }
    &__icon {
      position: absolute;
      top: 75px;
      right: 97px;
      width: 70px;
      height: 67px;
    }
    .element {
      .top-left {
        position: absolute;
        top: 24px;
        left: 38px;
        width: 41px;
        height: 41px;
      }
      .top-right {
        position: absolute;
        top: 24px;
        right: 35px;
        width: 41px;
        height: 41px;
      }
      .bottom-left {
        position: absolute;
        bottom: 24px;
        left: 41px;
        width: 41px;
        height: 41px;
      }
      .bottom-right {
        position: absolute;
        bottom: 24px;
        right: 32px;
        width: 41px;
        height: 41px;
      }
    }
    .txt {
      width: 100%;
      max-width: 55rem;
      h2 {
        max-width: 43rem;
        color: #fff;
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 8rem;
        strong {
          color: #ffd900;
        }
      }
      ul {
        display: flex;
        li {
          &:not(:first-child) {
            margin-left: 11.2rem;
          }
          img {
            width: 48px;
            height: 48px;
          }
          span {
            display: block;
            color: #fff;
            font-family: Poppins;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 120%;
            margin-top: 1.6rem;
            margin-bottom: 0.8rem;
          }
          p {
            color: $color-gray-500;
          }
        }
      }
    }
  }
}

.s-frauds {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__left {
    width: 100%;
    max-width: 67.2rem;
  }
  &__text {
    width: 100%;
    max-width: 34.4rem;
    margin-bottom: 7.2rem;
    h2 {
      color: $color-gray-900;
      margin-bottom: 1.6rem;
    }
    p {
      color: $color-gray-700;
    }
  }
  &__cards {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 7.2rem 10.7rem;
      li {
        width: 100%;
        max-width: 31rem;
        img {
          width: 5.5rem;
          height: 4.7rem;
          margin-bottom: 2.4rem;
        }
        p {
          color: $color-gray-700;
          margin-top: 1.6rem;
        }
      }
    }
  }
  &__right {
    img {
      position: relative;
      top: 0;
      right: -1.7rem;
    }
  }
}

.s-app {
  background-color: #ffd900;
  position: relative;
  height: 58.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 11.2rem;
  &__left {
    position: relative;
    width: 100%;
    max-width: 44.4rem;
    .text {
      max-width: 34.3rem;
      margin-bottom: 5.6rem;
      p {
        color: $color-gray-700;
        margin-top: 1.6rem;
      }
    }
    .app-store {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__right {
    img {
      position: absolute;
      top: 0;
      right: 0;
      width: 77.3rem;
      height: 58.9rem;
    }
  }
}
