@font-face {
  font-family: "Inter";
  src: local(Inter), url(../font/Inter/Inter-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local(Inter), url(../font/Inter/Inter-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: local(Inter), url(../font/Inter/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: local(Poppins), url(../font/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
